@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    font-family: 'Roboto Flex', Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: #231f20;
    background-color: #9de0e3;
}

header,footer{
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer,  footer a{
    background-color: #d3242a;
    color: white;
}

h2{
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}

img{
    width: 100%;
}

.img_logo{
    max-width: 100px;
    min-width: 25px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li, footer{
    text-align: center;
    align-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #231f20;
}

nav ul li a:hover{
    color: #d3242a;
}

.hero {
    text-align: center;
    padding: 0;
    margin-bottom: 1%;
    background: url('img/fondo.jpg') no-repeat center center/cover;
}

.info_principal {
    background-color: #00000038;
    padding: 3%;
    padding-top: 5%;
    color: white;
}

.info_principal  h2{
    font-size: 35px;
}

.cta-button {
    background: #d3242a;
    color: white;
    padding: 20px 20px    ;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.contact-info a:hover, 
.info_principal a:hover {
    text-decoration: none;
    color: #42c1c7;
}

.activities, .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
}

.activities{
    flex-direction: column;
}

.activity {
    flex: 1 1 calc(33.333% - 40px);
    margin: 20px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 5px;
    text-align: center;
}

.news{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.seccion {
    margin: 20px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 20px;
}

.contact-info{
    display: flex;
    gap: 2%;
    margin: 50px 75px;
    justify-content: center;
}

.contact-info a {
    text-decoration: none;
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

/* Carousel Styles */
.carousel {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    max-width: 500px; /* Limita el ancho de las imágenes */
    height: auto;
    margin: 0 auto;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.beneficios{
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    padding: 2%;
    background-color: white;
    border-radius: 5px;
}

.listado_beneficios {
    margin-top: 2%;
    margin-left: 8%;
}

.checked_icon{
    width: 5%;
    height: 1%;
}

.item_beneficio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5%;
}

@media only screen and (max-width: 1120px) {
    /* Estilos para pantallas de tablets y smartphones */
    .news {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        align-content: center;
    }

    .contact-info {
        display: flex;
        margin: 50px 75px;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        gap: 15px;
  }
}